* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
}

.container {
    /* max width ka matlab yeh puri with nahi lyga  */
    max-width: 95vw;
    padding: 2rem 1rem;
    /* marign top or bottom 0 or center me place karny kelia auto */
    margin: 0 auto;
}