* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* nav Bar started */

.container {
    width: 100vw;
    min-height: 100vh;
    background-color: #fcf5eb;
    padding: 0 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.whatsapplogo {
    width: 125px;
    height: 28px;
}

.navitems {
    display: flex;
    gap: 20px;
    font-size: 16px;
}

.navbar>button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 10px;
    font-size: 15px;
    border-radius: 60px;
    background-color: #25d366;
    border: none;
    border: 1px solid black;
}

.Features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100px;
}

.Features>img {
    rotate: -90deg;
    width: 10px;
    height: 15px;
}


/* end */